/*CSS Reset*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Press Start 2P', cursive;
}

#services{
	background-color: #B6A6CA;
}

#landing{
	background-color: #E1DEE9;
	font-size: 45px;
}

#about{
	background-color: #D5CFE1;
}

#fontabout{
	font-size: 50px;
}

#form{
	background-color: #D5CFE1;
	padding: 20px;
	border-radius: 20px;
}

.btn{
 background-color: white;
 border: none;
 border-radius: 6em;
 color: black;
 position: relative;
 font-size: 17px;
 font-family: inherit;
 font-weight: 500;
 text-transform: uppercase;
 text-decoration: none;
 padding: 1em 2.5em;
 display: inline-block;
 transition: all .2s; 
}

.btn:hover{
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active{
 transform: translateY(-1px);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after{
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 transition: all .4s;
}

.btn::after{
 background-color: #fff;
}

.btn:hover::after{
 transform: scaleX(1.4) scaleY(1.6);
 opacity: 0;
}

.btn2{
 appearance: none;
 background-color: transparent;
 box-sizing: border-box;
 color: #3B3B3B;
 display: inline-block;
 margin: 0;
 min-height: 3.75em;
 min-width: 0;
 outline: none;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.20, 1, 0.25, 1);
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.btn2:hover{
 color: #fff;
 background-color: #1A1A1A;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

.btn2:active{
 box-shadow: none;
 transform: translateY(0);
}

.btn2:disabled{
 pointer-events: none;
}

@media (max-width: 575px){
  .small-screen-text::placeholder {
    font-size: 12px;
  }
}